<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Acerca</title>
	<link href="/css/about.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	 <!--Iconos-->
	 <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<a href="/"><h1><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710217659/Logo_Final_gn1hat.png" width="115px"></h1></a>
			</div>
			<nav class="menu">
				<a href="/about">Sobre CICEHP</a>
				<a href="/actividades">Actividades</a>
				<a href="/publicaciones">Publicaciones</a>
				<a href="/investigaciones">Investigación</a>
				<a href="#">Docencia</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">UNDAV</a>
			<a href="#">CEHP</a>
			<a href="#">Links de Interes</a>
			<a href="#">Instagram</a>
			<a href="#">Agenda</a>
			<a href="#">Contacto</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

<br><br/>
<br><br/>
<br><br/>




<main class="acerca">
	<div>
		
		<br><br/>
		<h3>Coordinación: Dr. Arq. Lucas Longoni y Mgr. Arq. Martin Carranza</h3>
		<br><br/>
		<p>CICEHP se conformó en 2023 como un colectivo de docentes-investigadores y estudiantes en formación perteneciente a una de las grandes áreas del Centro de Estudios del Habitar Popular (CEHP): Historia y Teoría de la Arquitectura, el Diseño y la Ciudad. Es producto de la confluencia, intercambios y actividades en conjunto que fueron articulándose precedentemente entre dos sub-áreas del CEHP: “Historia de la Vivienda Social” -coordinada por el Dr. Arq. Lucas Longoni- y “Teorías e Historia de la Arquitectura Moderna y Contemporánea” -coordinada por el Mgr. Arq. Martin Carranza-. </p>
		<br>
		<p>El espacio incluye la concurrencia entre las materias de grado “Historia de la Arquitectura I-II-III-IV” (cátedra Prof. Arq. Alberto Petrina), “Fundamentos de la Arquitectura Contemporánea”, “Historia de la Arquitectura IV” y “Teoría de la Arquitectura” –talleres que coordina el Prof. Carranza- e “Historia de la vivienda social en Argentina” –taller que coordina el Prof. Longoni-, en la voluntad por sintetizar y compartir contenidos programáticos inherentes a la estructura curricular del área de Historia.</p>
		<br>
		<p>El colectivo se nutre con la participación de un cuerpo docentes-investigadores formados, acompañados por un grupo de estudiantes y jóvenes profesionales en formación, y cuenta como antecedentes con tres proyectos de investigación acreditados: un proyecto PRIICA (2016/2017) y dos proyectos UNDAVCYT (2017/2018; 2019/2022), siendo el último de esta diada el que formalizó el encuentro interáreas del colectivo de investigadores. </p>
		<br><br/>
		<h3>Objetivos:</h3>
		<br><br/>
		<p>Ampliar el campo de conocimiento en relación a la Historia y Teoría de la Arquitectura en la Argentina y el continente americano, en línea con los objetivos perseguidos en el área de Historia del CEHP.
			Aportar recursos y herramientas tanto para la formación de investigadores como de alumnos avanzados.
			Difundir y transferir los resultados de los estudios e integrar redes de investigación con centros y grupos que compartan problemas afines en el país y en el exterior.
			Difundir los trabajos e investigaciones en curso mediante la presentación en seminarios y encuentros académicos, así como alentar la elaboración de artículos que puedan contribuir al CEHP.
		</p>
		<br><br/>
		<h3>Autoridades:</h3>
		<br>
		<h4>
		 Rector de la Universidad Nacional de Avellaneda:
		</h4>
		<p>
		Ing. Jorge Calzoni
		</p>
		<br>
		<h4>
		 Vicerrector
		</h4>
		<p>
		Bioq. Ricardo A. Serra
		</p>
		<br>
		<h4>
		 Secretaría académica
		</h4>
		<p>
		Ing. Ricardo Bosco
		</p>
		<br>
		<h4>
		 Secretaría extensión Universitaria
		</h4>
		<p>
		Lic. Liliana Elsegood
		</p>
		<br>
		<h4>
		 Secretaría de Investigación y Vinculación Tecnológica e Institucional:
		</h4>
		<p>
		Dra. Patricia Domench
		</p>
		<br>
		<h4>
		 Decano del Departamento de la carrera de Arquitectura, Diseño y Urbanismo:
		</h4>
		<p>
		Arq. Jaime Sorin
		</p>
		<br>
		<h4>
		Vice decana del Departamento de la carrera de Arquitectura, Diseño y Urbanismo:
		</h4>
		<p>
		Dis. Lucrecia Piattelli
		</p>
		<br>
		<h4>
		Director de la Carrera de Arquitectura:
		</h4>
		<p>
		Arq. Raúl Bernasconi
		</p>
		<br>
		<h4>
		Directora del Centro de Estudios del Habitar Popular
		</h4>
		<p>
		Dra. Nathalie Goldwaser Yankelevich
		</p>
		<br>
		<h4>
		Asistente de dirección del Centro de Estudios del Habitar Popular
		</h4>
		<p>
		Arq. Iván Herbik
		</p>

		<br><br/>

	</div>

<br><br/>
<br><br/>
</main>


<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
	<div class="grupo-1">
		<div class="box">
			<figure>
				<a href="#">
					<img src="/images/CEHP.jpeg"  alt="Logo de SLee Dw">
					<img class="undav" src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1721973905/Logo_Undav_fondo_blanco_o8bhkq.png"  alt="Logo de Undav">
				</a>
			</figure>
		</div>
		<div class="box">
			
			
		</div>
		<div class="box">
			<h2>SIGUENOS</h2>
			<div class="red-social">
				<a href="#" class="fa fa-instagram"></a>
				<a href="#" class="fa fa-book"></a>
				<a href="#" class="fa fa-envelope"></a>
				<a href="#" class="fa fa-youtube"></a>
			</div>
		</div>
	</div>
	<div class="grupo-2">
		<small><a href="#">&copy;</a> 2024 <b>CICEHP</b> - Todos los Derechos Reservados.</small>
	</div>
</footer>




<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</body>
</html>