<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Actividades</title>
	<link href="/css/actividades.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	 <!--Iconos-->
	 <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<a href="/"><h1><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710217659/Logo_Final_gn1hat.png" width="115px"></h1></a>
			</div>
			<nav class="menu">
				<a href="/about">Sobre CICEHP</a>
				<a href="/actividades">Actividades</a>
				<a href="/publicaciones">Publicaciones</a>
				<a href="/investigaciones">Investigación</a>
				<a href="/docencia">Docencia</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">UNDAV</a>
			<a href="#">CEHP</a>
			<a href="#">Links de Interes</a>
			<a href="#">Instagram</a>
			<a href="#">Agenda</a>
			<a href="#">Contacto</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

<br><br/>
<br><br/>
<br><br/>




<main class="actividades">
	<div>
		<strong>Seminario y muestra “Debates e itinerarios acerca de la autoconstrucción en la Argentina”, dentro del Proyecto UNDAVCYT 2019 “La obra de Hilario Zalba en el Instituto de Vivienda de la Provincia de Buenos Aires (1958-1962). Progamas, teoría y puesta en valor”.</strong>
		<br><br/>
		<p>Presentación a cargo de Martín Carranza y Lucas Longoni.
			Ponencias a cargo de Juan Santiago Palero, “Participación en arquitectura de vivienda social. La propuesta teórica de Turner y su continuidad en el PREVI”; Claudio Labra, “El sistema ATEPAM. Primeros ensayos en la asimilación estatal de los procesos de autoconstrucción”; Alejandro Gregoric, “Sistemas de vivienda UNNE-UNO, prototipo universitario aplicado a la vivienda modular”; Martín Carranza, “El caso del Plan Piloto de Realojamiento para Villa 7 en el barrio de Mataderos”; Lucas Longoni, “La experiencia del cooperativismo en el conjunto Monteagudo”. 
			UNDAV, Sede Piñeyro, noviembre 2022.
			</p>
		<br><br/>
		<div class="fotos">
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222363/A_jvrqfs.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222363/A_jvrqfs.jpg" alt="1" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222721/B_buyppb.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222721/B_buyppb.jpg"  alt="2" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222752/C_txsuaz.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222752/C_txsuaz.jpg"  alt="3" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222774/D_q4fciy.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222774/D_q4fciy.jpg"  alt="4" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222811/E_hnkysh.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222811/E_hnkysh.jpg"  alt="5" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222862/F_dd0p5b.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222862/F_dd0p5b.jpg"  alt="6" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222896/G_f2mxpg.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222896/G_f2mxpg.jpg"  alt="7" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222922/H_lnxmcg.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710222922/H_lnxmcg.jpg"  alt="8" width="50px" ></a>
		</div>
		<br><br/>
		<hr><hr/>
		<br><br/>

		<strong>Semana Nacional de la Ciencia y la Tecnología UNDAV 2022</strong>
		<br><br/>
		<p>
		  Presentaciones a cargo de Martín Carranza y Lucas Longoni. Mesa Redonda: “¿Cómo es investigar en Arquitectura?”. Apertura y cierre a cargo del Decano Prof. Jaime Sorín. UNDAV, Sede Piñeyro, septiembre 2022.

		</p>
		<br><br/>
		<div class="fotos">
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223481/Flyer_hoqpyq.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223481/Flyer_hoqpyq.jpg" alt="1" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223520/Foto1_aj9h3f.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223520/Foto1_aj9h3f.jpg"  alt="2" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223554/Foto2_yeklr5.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223554/Foto2_yeklr5.jpg"  alt="3" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223582/Foto3_irbjro.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223582/Foto3_irbjro.jpg"  alt="4" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223582/Foto3_irbjro.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710223582/Foto3_irbjro.jpg"  alt="5" width="50px" ></a>
		</div>
		<br><br/>
		<hr><hr/>
		<br><br/>
		<strong>XXXVI Jornadas de Investigación XVIII Encuentro Regional SI FADU</strong>
		<br><br/>
		<p>
			Ponencia “Debates e itinerarios acerca de la autoconstrucción de vivienda en la Argentina. 1956-1975”, en relación al Proyecto UNDAVCYT 2019 “La obra de Hilario Zalba en el Instituto de Vivienda de la Provincia de Buenos Aires (1956-1962). Programas, teoría y puesta en valor”.
			FADU UBA, Ciudad Universitaria, octubre de 2022.
		</p>
		<br><br/>
		<hr><hr/>

		<br><br/>
		<strong>Muestra Historia de la Vivienda Social en Argentina.</strong>
		<br><br/>
		<p>
			PAsociada al Proyecto UNDAVCYT 2017 “La obra de Hilario Zalba en el Instituto de Vivienda de la
			UNDAV, Sede Piñeyro, noviembre 2019.
			
		</p>
		<br><br/>
		<hr><hr/>
		<br><br/>

		<strong>Semana de la Ciencia y la Tecnología UNDAV 2019.</strong>
		<br><br/>
		<p>
			Presentación a cargo de Lucas Longoni del proyecto “La obra de Hilario Zalba en el Instituto de Vivienda de la provincia de Buenos Aires (1956-1962). Programas, teoría y puesta en valor. 
			Presentación a cargo de Martin Carranza del proyecto “Avellaneda Blues. Relatos polifónicos y arqueología industrial". 
			UNDAV, Sede Piñeyro, septiembre 2019.
		</p>
		<br><br/>
		<div class="fotos">
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710224016/Foto1_pgjhre.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710224016/Foto1_pgjhre.jpg" alt="1" width="50px" ></a>
		<a href="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710224045/Foto2_thqzah.jpg" Target="_blank"><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710224045/Foto2_thqzah.jpg"  alt="2" width="50px" ></a>
		</div>
		<br><br/>
		<hr><hr/>
		<br><br/>

		<strong>XXXIII Jornadas de Investigación XV Encuentro Regional SI FADU</strong>
		<br><br/>
		<p>
			Ponencia “La vivienda como signo. Imágenes sobre el Block Prototipo de Hilario Zalba”, asociada al Proyecto UNDAVCYT 2017 “La obra de Hilario Zalba en el Instituto de Vivienda de la Provincia de Buenos Aires (1956-1962). Programas, teoría y puesta en valor”.
             publicada en actas de las XXXIII Jornadas de Investigación XV Encuentro Regional SI FADU, noviembre de 2019.

			
		</p>
		<br><br/>
		<hr><hr/>

		<br><br/>

		<strong>Entrevista a Martín Carranza (2017)</strong>
		<br><br/>
		<p>
			En el informativo semanal realizado por UNDAV TV y estudiantes de Periodismo de la UNDAV para el programa 7 PUENTES. PROGRAMA Nº13 presentando el Proyecto de Investigación acreditado por el PRIICA/UNDAV denominado “AVELLANEDA BLUES. Arqueología industrial y relatos polifónicos”. 
         Recuperado en sitio: <a href="https://www.youtube.com/watch?v=URO-UPteqFs" Target="_blank">https://www.youtube.com/watch?v=URO-UPteqFs</a>	
		</p>
		<br><br/>
		<hr><hr/>

		<br><br/>

		<strong>Entrevista a Martín Carranza (2017)</strong>
		<br><br/>
		<p>
			en el documental "Del Mercado a la Universidad" que refleja el fenómeno de transformación que sobrellevó al antiguo edificio del "Mercado de Abasto y Frigorífico de Avellaneda", que hoy alberga en la denominada "Sede España" de la "Universidad Nacional de Avellaneda". Realizado como Trabajo Final Integrador de la Especialización en Comunicación Digital Audiovisual de la Universidad Nacional de Quilmes (UNQ). 
            Tutor Mg. Néstor Daniel Gonzales. Fecha: 2019-09-17 Autor: Esp. Casaballe, Matías Federico Recuperado en sitio: <a href="https://www.youtube.com/watch?v=-UIwHQH4O0Y&t=231s" Target="_blank">https://www.youtube.com/watch?v=-UIwHQH4O0Y&t=231s</a>

		</p>
		<br><br/>
		<hr><hr/>

		<br><br/>

		<strong>Producto audiovisual elaborado por Martín Carranza (2017)</strong>
		<br><br/>
		<p>
			denominado “AVELLANEDA BLUES. Arqueología industrial y relatos polifónicos” Recuperado en sitio: <a href="https://www.youtube.com/watch?v=BfRVR-GIgFA" Target="_blank">https://www.youtube.com/watch?v=BfRVR-GIgFA</a>
		</p> 
		<br><br/>
		<hr><hr/>


		
	</div>
<br><br/>
<br><br/>


</main>


<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
	<div class="grupo-1">
		<div class="box">
			<figure>
				<a href="#">
					<img src="/images/logo recortado.png"  alt="Logo de SLee Dw">
				</a>
			</figure>
		</div>
		<div class="box">
			<h2>SOBRE NOSOTROS</h2>
			<p>Coordinación: Mgr. Arq. Lucas Longoni y Mgr. Arq. Martin Carranza</p>
			<p>CICEHP se conformó en 2023 como un colectivo de docentes-investigadores y estudiantes en formación perteneciente a una de las grandes áreas del Centro de Estudios del Habitar Popular (CEHP)</p>
		</div>
		<div class="box">
			<h2>SIGUENOS</h2>
			<div class="red-social">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-instagram"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-youtube"></a>
			</div>
		</div>
	</div>
	<div class="grupo-2">
		<small>&copy; 2024 <b>CICEHP</b> - Todos los Derechos Reservados.</small>
	</div>
</footer>




<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</body>
</html>