<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Publicaciones</title>
	<link href="/css/publicaciones.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	 <!--Iconos-->
	 <script src="https://kit.fontawesome.com/fa3a2d0319.js" crossorigin="anonymous"></script>
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<a href="/"><h1><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710217659/Logo_Final_gn1hat.png" width="115px"></h1></a>
			</div>
			<nav class="menu">
				<a href="/about">Sobre CICEHP</a>
				<a href="/actividades">Actividades</a>
				<a href="/publicaciones">Publicaciones</a>
				<a href="/investigaciones">Investigación</a>
				<a href="/docencia">Docencia</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">UNDAV</a>
			<a href="#">CEHP</a>
			<a href="#">Links de Interes</a>
			<a href="#">Instagram</a>
			<a href="#">Agenda</a>
			<a href="#">Contacto</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

<br><br/>
<br><br/>
<br><br/>




<main class="publicaciones">

	<div class="box-publicaciones">

		<div class="box">
		<strong>Carranza, Martin; Gregoric, Alejandro; Labra, Claudio; Longoni, Lucas (2023), “Dirigismo y autoconstrucción. El programa ATEPAM y los debates durante la presidencia de Hilario Zalba en el Instituto de la Vivienda de la provincia de Buenos Aires, Argentina (1958-1962)”</strong>
		<br><br/>
		<p>
			en revista Anales de Investigación en Arquitectura, Vol. 13 Núm 2. Montevideo, Universidad ORT Uruguay, 2023. Recuperado en sitio: 
			<a href="https://revistas.ort.edu.uy/anales-de-investigacion-en-arquitectura/article/view/3539" Target="_blank">https://lc.cx/cHDZkg</a>
		</p>
		<br><br/>
		<br><br/>
		
		<br><br/>
		</div>

		<div class="box">
			<strong>Gregoric, Alejandro; Labra, Claudio; Longoni, Lucas (2022), “Debates e itinerarios acerca de la autoconstrucción de vivienda en la Argentina. 1956-1975”</strong>
			<br><br/>
			<p>
				ponencia publicada en actas de las XXXVI Jornadas de Investigación XVIII Encuentro Regional SI FADU. Buenos Aires, FADU UBA, octubre de 2022. Recuperado en sitio:<a href="https://res.cloudinary.com/df4wfmkk1/raw/upload/v1712549075/GREGORIC_et_al_Jornadas_SI_2022_xmgohp.pptx" Target="_blank"> Descargar PDF </a>
			</p>
			<br><br/>
			<br><br/>
			
			<br><br/>
			</div>


			<div class="box">
				<strong>Carranza, Martin (2022), “UNDAV o la transformación del imaginario urbano industrial de Avellaneda”, </strong>
				<br><br/>
				<p>
					En: Actas IX Encuentro de Docentes e Investigadores de Historia de la Arquitectura, el Diseño y la Ciudad, IAA-FADU-UBA. Recuperado en sitio: <a href="https://undavdigital.undav.edu.ar/handle/20.500.13069/1339" Target="_blank">https://lc.cx/PiNoVY</a>
				</p>
				<br><br/>
				<br><br/>
				
				<br><br/>
				</div>

				<div class="box">
					<strong>-Carranza, Martin (2022), “Ana María Azzarri: Mujer, arquitecta y militante”,  </strong>
					<br><br/>
					<p>
						en: Actas IX Encuentro de Docentes e Investigadores de Historia de la Arquitectura, el Diseño y la Ciudad, IAA-FADU-UBA. 
 		                Recuperado en sitio: <a href="https://undavdigital.undav.edu.ar/handle/20.500.13069/1340" Target="_blank">https://lc.cx/g3dw-1</a>
					</p>

					</p>
					<br><br/>
					<br><br/>
					
					<br><br/>
					</div>


					<div class="box">
						<strong>Gregoric, Alejandro; Labra, Claudio; Longoni, Lucas (2019), “La vivienda como signo. Imágenes sobre el Block Prototipo de Hilario Zalba”</strong>
						<br><br/>
						<p>
							ponencia publicada en actas de las XXXIII Jornadas de Investigación XV Encuentro Regional SI FADU. Buenos Aires, FADU UBA, noviembre de 2019.
                            Recuperado en sitio: <a href="https://publicacionescientificas.fadu.uba.ar/index.php/actas/article/view/1077" Target="_blank">https://lc.cx/A0gDEZ</a>

						</p>
						<br><br/>
						<br><br/>
						
						<br><br/>
						</div>

						<div class="box">
							<strong>Carranza, Martin (2017), “El patrimonio industrial de Avellaneda es una "historia viva", </strong>
							<br><br/>
							<p>
								en: Con información, Avellaneda: UNDAV, p. 8. Recuperado en sitio: <a href="https://coninformacion.undav.edu.ar/287.html" Target="_blank">https://lc.cx/mQphnM</a>

	
							</p>
							<br><br/>
							<br><br/>
							
							<br><br/>
							</div>


			
	</div>
	<br><br/>
	<br><br/>


</main>


<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
	<div class="grupo-1">
		<div class="box">
			<figure>
				<a href="#">
					<img src="/images/CEHP.jpeg"  alt="Logo de SLee Dw">
					<img class="undav" src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1721973905/Logo_Undav_fondo_blanco_o8bhkq.png"  alt="Logo de Undav">
				</a>
			</figure>
		</div>
		<div class="box">
			
		
		</div>
		<div class="box">
			<h2>SIGUENOS</h2>
			<div class="red-social">
				<a href="#" class="fa fa-instagram"></a>
				<a href="#" class="fa fa-book"></a>
				<a href="#" class="fa fa-envelope"></a>
				<a href="#" class="fa fa-youtube"></a>
			</div>
		</div>
	</div>
	<div class="grupo-2">
		<small>&copy; 2024 <b>CICEHP</b> - Todos los Derechos Reservados.</small>
	</div>
</footer>




<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</body>
</html>