<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Acerca</title>
	<link href="/css/perfil.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	 <!--Iconos-->
	 <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<a href="/"><h1><img src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1710217659/Logo_Final_gn1hat.png" width="115px"></h1></a>
			</div>
			<nav class="menu">
				<a href="/about">Sobre CICEHP</a>
				<a href="/actividades">Actividades</a>
				<a href="/publicaciones">Publicaciones</a>
				<a href="/investigaciones">Investigación</a>
				<a href="#">Docencia</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">UNDAV</a>
			<a href="#">CEHP</a>
			<a href="#">Links de Interes</a>
			<a href="#">Instagram</a>
			<a href="#">Agenda</a>
			<a href="#">Contacto</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

<br><br/>
<br><br/>
<br><br/>



<main>

	<%  for (let user of usuarios) {%> 
	<div class="container2">
		<div class="profile-name"><%=user.Nombre + " " + user.Apellido%></div> <br>
		<p class="about"><%=user.Email%></p><br>	   
		<a href="../users/desloguear" <button class="msg-btn">Desloguear</button></a>
	</div>
	  <% } %> 

</main>



<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
	<div class="grupo-1">
		<div class="box">
			<figure>
				<a href="#">
					<img src="/images/CEHP.jpeg"  alt="Logo de SLee Dw">
					<img class="undav" src="https://res.cloudinary.com/df4wfmkk1/image/upload/v1721973905/Logo_Undav_fondo_blanco_o8bhkq.png"  alt="Logo de Undav">
				</a>
			</figure>
		</div>
		<div class="box">
			
			
		</div>
		<div class="box">
			<h2>SIGUENOS</h2>
			<div class="red-social">
				<a href="#" class="fa fa-instagram"></a>
				<a href="#" class="fa fa-book"></a>
				<a href="#" class="fa fa-envelope"></a>
				<a href="#" class="fa fa-youtube"></a>
			</div>
		</div>
	</div>
	<div class="grupo-2">
		<small><a href="../users/login">&copy;</a> 2024 <b>CICEHP</b> - Todos los Derechos Reservados.</small>
	</div>
</footer>




<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</body>
</html>